@import "home.scss";
@import "navbar.scss";
@import "login.scss";
@import "notfound.scss";
@import "loading.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;

  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  margin: auto;
  background-image: linear-gradient(160deg, #ee4540, #c72c41, #801336, #2d132c);
  position: relative;
}
